.workflow-step-wizard {
  margin-top: 50px; }
  .workflow-step-wizard * {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important; }
  .workflow-step-wizard li i.fa {
    background: red; }
  .workflow-step-wizard a,
  .workflow-step-wizard a:hover,
  .workflow-step-wizard a:active,
  .workflow-step-wizard li,
  .workflow-step-wizard li:hover,
  .workflow-step-wizard li:active,
  .workflow-step-wizard li.active {
    background-color: pink;
    color: red !important;
    border-top: 3px solid green;
    border-radius: 0; }
  .workflow-step-wizard ul.dropdown-menu {
    width: auto; }
    .workflow-step-wizard ul.dropdown-menu li {
      float: left;
      display: inline-block;
      background: teal; }

/* FlexBox
--------------------------------------------------- * /
.row-flex,
.row-flex > div[class*=col-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0; }

.container-flex > div[class*=col-],
.row-flex > div[class*=col-] {
  margin: -0.2px; }

.container-flex > div[class*=col-] div,
.row-flex > div[class*=col-] > div {
  width: 100%; }

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }

.flex-grow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 2;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

/* */
